.zshrc
.zshrc_private
.zsh_history
.DS_Store
.vim/plugged
.vim/.netrwhist
.vimrc_background
node_modules
*.swp
./tags
.idea
.config/yarn/link/
.config/alfred/Alfred.alfredpreferences/workflows/
.config/nvim/spell/*.spl
