[submodule "submodules/fzf-git"]
path = submodules/fzf-git
url = git@github.com:yuriteixeira/fzf-git.sh.git

[submodule ".pi/submodules/pi-skills"]
path = .pi/submodules/pi-skills
url = git@github.com:badlogic/pi-skills
