[core]
	editor = "vim"
	excludesfile = /Users/yuriteixeira/.gitignore_global
[user]
	name = Yuri Teixeira
	email = oyuriteixeira@gmail.com
[push]
	default = current
[pull]
	default = current
[color]
	ui = true
[color "diff"]
    meta = yellow bold
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/yuriteixeira/.stCommitMsg
[merge]
	tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
