[core]
  excludesfile = /Users/yuriteixeira/.gitignore_global
  autocrlf = input
[push]
  default = current
[pull]
  default = current
[color "diff"]
  meta = yellow bold
[rebase]
  autosquash = true
[merge]
  tool = vimdiff
[mergetool]
  path = nvim
[alias]
  a = add
  ap = add -p
  b = branch
  c = commit -v
  ca = commit -v --amend
  co = checkout
  d = diff
  l = log --graph --pretty='%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
  lo = log
  r = rebase
  ri = rebase -i
  rl = reflog
  s = status
