[core]
  excludesfile = /Users/yuriteixeira/.gitignore_global
  autocrlf = input
[push]
  default = current
[pull]
  default = current
[color "diff"]
  meta = yellow bold
[rebase]
  autosquash = true
[merge]
  tool = vimdiff
[mergetool]
  path = nvim
[alias]
  a = add
  aa = add .
  ap = add -p
  b = branch
  c = commit -v
  ca = commit -v --amend
  cn = commit -v -n
  can = commit -v --amend -n
  co = checkout
  d = diff
  cl = checkout -- . && git reset --hard && git clean -idfx
  l = log --pretty='%C(red)%h %C(reset)%s %C(bold blue)%an, %C(green)%cr%C(yellow)%d %C(reset)'
  lo = log
  p = push
  pf = push --force-with-lease
  r = rebase
  ri = rebase -i
  rl = reflog
  s = status
  h = log --follow -p --
