[Desktop Entry]
Version=1.0
Name=Calendar
Comment=Calendar
Exec=brave --app="https://calendar.google.com" --name="Calendar" --class="Calendar"
Terminal=false
Type=Application
Icon=app-calendar
StartupNotify=true
