[Desktop Entry]
Version=1.0
Name=Gemini
Comment=Gemini
Exec=brave --app="https://gemini.google.com" --name="Gemini" --class="Gemini"
Terminal=false
Type=Application
Icon=app-gemini
StartupNotify=true
