[Desktop Entry]
Version=1.0
Name=Image Icons
Comment=Icons
Exec=brave --app="https://dashboardicons.com/" --name="Icons" --class="Icons"
Terminal=false
Type=Application
Icon=app-image-icons
StartupNotify=true
