[Desktop Entry]
Name=Wiremix
GenericName=Audio Mixer
Comment=Configure audio device settings
Exec=wiremix
Icon=multimedia-volume-control
Terminal=true
Type=Application
Keywords=pipewire;sound;audio;
Categories=Utility;Settings;ConsoleOnly;
StartupNotify=false
