[Desktop Entry]
Version=1.0
Name=YouTube
Comment=YouTube
Exec=brave --app="https://youtube.com/" --name="YouTube" --class="YouTube"
Terminal=false
Type=Application
Icon=app-youtube
StartupNotify=true
